#block-ui {
    display: none;
    cursor: wait;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #CCCCCC;
    opacity: 0.5;
}

.picture {
    width: 100%
}

.tc {
    text-align: center;
}

.small {
    font-size: 80%;
}